body {
    margin: 0;
    max-width: 100vw;
}

pre, code {
    overflow: auto;
}

.button {
  border: none;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
  margin: 2px;
  cursor: pointer;
}

#pageContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 80vh;
}

#blocklyDiv {
    flex-basis: 100%;
    height: 100%;
    min-width: 600px;
}

#outputPane {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex: 0 0 400px;
    overflow: auto;
    padding: 1rem;
    background-color: #ddd;
}

#generatedCode {
    height: 100%;
    background-color: rgb(247, 240, 228);
    padding: 10px;
}

#output {
    height: 20vh;
    min-width: 100px;
    background-color: #ddd;
    margin-top: 25px;

}

.ledBlock {
    padding: 20px;
    margin: 5px;
    width: 10px;
    display: inline-block;
}

#output #strip_1 {
   position: relative;
   overflow: scroll;
}

#output #strip_2 {
   position: relative;
   overflow: scroll;
}

#output #strip_3 {
   top: 100px;
   position: relative;
   overflow: scroll;
   height: 60px;
}